.container {
  margin: 0 auto;
  width: 640px;
  text-align: center;
}

.container__innner {
  opacity: 0;
}

.game__start__container {
  margin-top: 48px;
}

.game__start__container input {
  display: inline-block;
}

.game__select__container {
  position: relative;
  top: -21rem;
}

.game__select {
  margin-top: 32px;
}

.game__btn {
  margin-left: 26px;
}

.skip__btn {
  display: block;
  margin: 42px auto;
}
